<!DOCTYPE html>
<html ng-app="demo">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="nested/nested.css" rel="stylesheet">
    <link href="simple/simple.css" rel="stylesheet">
<title>Testing Angular 1.4</title>

</head>
<body ng-controller="SimpleDemoController">


<h1>Error page</h1>

<div class="alert alert-success">
    <strong>Instructions:</strong>
    Drag &amp; drop the list items to move them around, or just click to select them.
    If that's too boring, check out the <a href="/nested">nested container demo</a>
</div>






<script src="/js/angular.js"></script>
<script src="/nested/drag-drop.js"></script>
<script src="/simple/simple.js"></script>


</body>


</html>
